<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array/>
	<key>LastWorkingCopyScanDate</key>
	<date>2015-04-20T07:49:16Z</date>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
